<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h2>Error.</h2>
        <h3>Developer with id = @ViewBag.Id was not found</h3>
    </hgroup>
    @Html.ActionLink("Back to List", "Developers")
</body>
</html>
